# Fichier .gitignore pour un projet Rust

# Dossier de compilation
/target

# Fichiers de sauvegarde temporaires créés par l'éditeur de texte ou l'IDE
*~
*.swp
*.swo
*.bak
*.tmp
*.temp
*.sublime-*
*.code-workspace

# Fichiers de configuration spécifiques à l'utilisateur
.vscode/
.idea/

# Fichiers de sauvegarde Cargo
Cargo.lock

# Fichiers du système d'exploitation
.DS_Store
Thumbs.db
__pycache__/
*.pyo
*.pyc
*.pyd
*.db
*.log

# Fichiers de paquets de documentation
/doc/
